In [11]:
from env import get_db_url

import pandas as pd
import numpy as np

In [12]:
url = get_db_url('albums_db')
sql = 'SELECT * FROM albums;'

df = pd.read_sql(sql, url)

In [13]:
df.head()

,id,artist,name,release_date,sales,genre
0,1,Michael Jackson,Thriller,1982,47.3,"Pop, Rock, R&B"
1,2,AC/DC,Back in Black,1980,26.1,Hard rock
2,3,Pink Floyd,The Dark Side of the Moon,1973,24.2,Progressive rock
3,4,Meat Loaf,Bat Out of Hell,1977,21.5,"Hard rock, Progressive rock"
4,5,Whitney Houston / Various artists,The Bodyguard,1992,28.4,"R&B, Soul, Pop, Soundtrack"

how many rows are in the albums table

In [17]:
df.shape[0]

31

explore table structure

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            31 non-null     int64
 1   artist        31 non-null     object
 2   name          31 non-null     object
 3   release_date  31 non-null     int64
 4   sales         31 non-null     float64
 5   genre         31 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.6+ KB

How many unique artist names are in the albums table?#

In [20]:
df.artist.nunique()

23

What is the oldest release date for any album 
-- in the albums table?

In [22]:
df.release_date.min()

1967

what is the most recent release date?

In [23]:
df.release_date.max()

2011

Find the name of all albums by pink floyd

In [25]:
df[df.artist == 'Pink Floyd'].name

2     The Dark Side of the Moon
28                     The Wall
Name: name, dtype: object

-- b. The year Sgt. Pepper's Lonely Hearts Club Band was released

In [27]:
df[df.name == 'Sgt. Pepper\'s Lonely Hearts Club Band'].release_date

14    1967
Name: release_date, dtype: int64

The genre for the album Nevermind

In [28]:
df[df.name == 'Nevermind'].genre

27    Grunge, Alternative rock
Name: genre, dtype: object

-- d. Which albums were released in the 1990s

In [35]:
df[df.release_date.astype(str).str.startswith('199')][['name', 'release_date']]

                                      name  release_date
4                            The Bodyguard          1992
11                      Jagged Little Pill          1995
12                            Come On Over          1997
13                        Falling into You          1996
18                   Let's Talk About Love          1997
20                               Dangerous          1991
21               The Immaculate Collection          1990
25  Titanic: Music from the Motion Picture          1997
26                               Metallica          1991
27                               Nevermind          1991
29                            Supernatural          1999

-- e. Which albums had less than 20 million certified sales

In [38]:
df[df.sales > 20][['name', 'sales']].sort_values('sales', ascending=False)

                               name  sales
0                          Thriller   47.3
5   Their Greatest Hits (1971–1975)   32.2
12                     Come On Over   29.6
9                   Led Zeppelin IV   29.0
4                     The Bodyguard   28.4
7                           Rumours   27.9
1                     Back in Black   26.1
17                               21   25.3
11               Jagged Little Pill   24.4
2         The Dark Side of the Moon   24.2
19                                1   22.6
6              Saturday Night Fever   21.6
30         Appetite for Destruction   21.6
3                   Bat Out of Hell   21.5
15                 Hotel California   21.5
26                        Metallica   21.2
29                     Supernatural   20.5
13                 Falling into You   20.2